*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    background-color: #6e1c5c;

}
.wrapper{
    box-sizing: border-box;
    width: 27em;
    padding: 2.5em 3em;
    background-color: #d3b0b2;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
    
}